@font-face {
    font-family: Marhey-AR;
    src: url(../fonts/Marhey-VariableFont_wght.ttf);
}

@font-face {
    font-family: Shrikhand-EN;
    src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: BungeeOutline;
    src: url(../fonts/BungeeOutline-Regular.ttf);
}